<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.spring.bean.Person" id="person">
        <property name="names">
            <list>
                <value>张三</value>
                <value>李四</value>
                <value>王五</value>
                <value>王五</value>
            </list>
        </property>
        <property name="addrs">
            <set>
                <value>bj</value>
                <value>sh</value>
                <value>gx</value>
                <value>gx</value>
            </set>
        </property>
        <property name="phones">
            <map>
                <entry key="1" value="111"/>
                <entry key="2" value="222"/>
                <entry key="3" value="333"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="driver">hello</prop>
                <prop key="url">url</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>