<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    第一种解决方案:
        use-default-filters="false"
        如果这个属性是false，表示com.spring.bean2下所有带有声明Bean的注解全部失效
    -->
    <!--<context:component-scan base-package="com.spring.bean2" use-default-filters="false">-->
    <!--    &lt;!&ndash;只有expression被包含进来，生效&ndash;&gt;-->
    <!--    <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
    <!--    <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
    <!--</context:component-scan>-->


    <!--
    第一种解决方案:
        use-default-filters="true"
        如果这个属性是true，表示com.spring.bean2下的所有的带有声明Bean的注解全部生效
        use-default-filters="true" 默认值就是true，不用写
    -->
    <context:component-scan base-package="com.spring.bean2" use-default-filters="true">
        <!--排除掉 expression-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>