<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启包扫描-->
    <!--<context:component-scan base-package="com.spring.bean"/>-->

    <!--多个包使用逗号隔开-->
    <!--<context:component-scan base-package="com.spring.bean,com.spring.dao"/>-->

    <!--多个包也可以指定这多个包共同的父包，但效率不高-->
    <context:component-scan base-package="com.spring" />

</beans>