<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean后处理器对所有bean都起作用-->
    <bean class="com.spring.bean.LogBeanPostProcessor"/>
    <bean class="com.spring.bean.User" id="user" init-method="initBean" destroy-method="destroyBean" scope="prototype">
        <property name="name" value="giao"/>
    </bean>
</beans>